# Dependency directories
node_modules/

# Build output
dist/

# Environment variables
.env

# Logs
*.log

# Runtime data
*.pid
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

# Editors and IDEs
.idea
.project
.settings
.vscode

# OS generated
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
